:root {
    --nav-background-primary-color: #00000000; /* 0% opacity */
    --nav-background-secondary-color: var(--background-secondary-color);
    --nav-background-secondary-dark-color: var(--background-secondary-dark-color);
    --nav-font-primary-color: var(--font-primary-color); 
    --nav-font-secondary-color: var(--font-primary-color); 
}

/* style the nav bar */
nav {
    width: calc(100% - 2 * 0.8em);
    background: var(--nav-background-primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
}   

nav > ul { display: none; }                    

/* hide the base ul styles */
nav ul {
    list-style: none;
    background-color: var(--nav-background-secondary-color);
    text-align: center;
    padding: 0px;
    margin: 0px;
}
 
/* style the menu item */
nav li {
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    vertical-align: top;
}

/* first level of the menu */
nav > ul > li {
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-top: 1px solid var(--nav-background-secondary-dark-color);
}              

/* set the base styles for the hyperlink */              
nav a {
    text-decoration: none;
    color: var(--nav-font-primary-color);
    display: block;
}

/* set the hover state with a background color */
nav a:hover {
    display: block;
    background-color: var(--spotlightColor);
}

/* hide the checkbox */
#mobile-menu-trigger { display: none; } 

.spotlight {
    background: var(--spotlightColor);
    color: var(--font-spotlight-color);
    font-weight: bold;
    text-shadow: 
                var(--font-spotlight-shadow-offset) 0 var(--font-spotlight-shadow-offset) var(--font-spotlight-shadow), 
                var(--font-spotlight-shadow-offset-neg) 0 var(--font-spotlight-shadow-offset) var(--font-spotlight-shadow), 
                0 var(--font-spotlight-shadow-offset) var(--font-spotlight-shadow-offset) var(--font-spotlight-shadow), 
                0 var(--font-spotlight-shadow-offset-neg) var(--font-spotlight-shadow-offset) var(--font-spotlight-shadow);
    text-transform: capitalize;
    border: 0px;
    padding: 1em;
    border-radius: 0.5em;
}

/* desktop/tablet styles */
@media (min-width: 768px) {
    nav label { display: none; } /* hide the hamburger icon */
    nav > ul { display: block; } /* make the menu a block element */

    /* set the style of the main menu items */
    nav > ul > li {
        width: 150px;
        display: inline-block;
        border-top: 0px solid var(--nav-background-secondary-dark-color);
    }
}

/* style the hamburger */
nav label.spotlight {
	display: inline-block;
	font-style: normal;
	font-size: 1.2em;
    font-weight: bold;
	padding: 0.8em;
}  

nav input:checked ~ ul {
    display: block;
}

.logo {
    height: calc(1.2em + 0.8em + 0.8em);
}