:root {
    --spotlightColor: #61ae37;
    --spotlight-dark-Color: #284916;
    --spotlight-bright-Color: #7aec3d;
    --spotlight-soft-color: hsl(99, 20%, 73%);
    --background-primary-color-hsl: 0, 0%, 20%;
    --background-primary-color: hsl(var(--background-primary-color-hsl), 100%);
    --background-primary-dark-color: #222;
    --background-secondary-color: #000;
    --background-secondary-dark-color: #000;
    --font-primary-color: #fff;
    --font-secondary-color: var(--spotlight-soft-color);
    --font-spotlight-color: #fff;
    --font-spotlight-shadow-offset: 0.35em;
    --font-spotlight-shadow-offset-neg: -0.35em;
    --font-form-color: var(--spotlight-dark-Color);
    --shadow-hsl-color: 0, 0%, 0%;
    --overlay-hsl-color: 0, 0%, 0%;
    --font-spotlight-shadow: hsl(var(--shadow-hsl-color), 20%);
    --overlay-color: hsl(var(--overlay-hsl-color), 65%);
    --hero-height: 100vh;
    --standard-padding: 1em;
    --standard-transition: 1s;
    --border-radius: 0.5em;
    --border-width: 1px solid;
    --border-spotlight: var(--border-width) var(--spotlightColor);
    --border-lightfont: var(--border-width) var(--font-secondary-color);
    --border-dark: var(--border-width) var(--background-primary-dark-color);
    --border-image: none;



/* MEDIA QUERY BREAKPOINTS */
    /* --phone-screen-width: 393px;
    --tabletv-screen-width: 768px;
    --xwide-screen-width: ; */
}

/*ALT THEMES*/
:root:has(#light-theme:checked) {
    --background-primary-color: hsl(99, 20%, 73%);
    --background-primary-dark-color: hsl(99, 20%, 53%);
    --background-secondary-color: #ffffff;
    --background-secondary-dark-color: hsl(99, 20%, 73%);
    --spotlight-dark-Color: #8ce75b;
    --spotlight-dark-Color-alt: #7aec3d;
    --font-primary-color: #000;
    --font-secondary-color: #284916;
    --overlay-hsl-color: 0, 0%, 100%;
    --overlay-color: hsl(var(--overlay-hsl-color), 40%);
    --font-form-color: var(--font-secondary-color);
}

:root:has(#fall-theme:checked) {
    --background-primary-color: #fff8e8;
    --background-primary-dark-color: #f7eed3;
    --background-secondary-color: #e9bf9f;
    --background-secondary-dark-color: #ff9b45;
    --spotlightColor: #ee6b1f;
    --spotlight-dark-Color: #6e230c;
    --spotlight-bright-Color: #d5451b;
    --spotlight-soft-color: #e2a16f;
    --spotlight-dark-Color-alt: #674636;
    --font-primary-color: #000;
    --font-secondary-color: #521C0D;
    --overlay-hsl-color: 0, 0%, 100%;
    --overlay-color: hsl(var(--overlay-hsl-color), 40%);
    --font-form-color: var(--font-secondary-color);
    --shadow-hsl-color: 330, 29%, 20%;
    --overlay-hsl-color:  22, 86%, 53%;
    --font-spotlight-shadow: hsl(var(--shadow-hsl-color), 20%);
    --overlay-color: hsl(var(--overlay-hsl-color), 40%);
    --border-radius: 0;
    --border-width: 5px solid;
    --border-spotlight: var(--border-width) transparent;
    --border-lightfont: var(--border-width) transparent;
    --border-dark: var(--border-width) transparent;
    --border-image: linear-gradient(45deg, #ca4c31, #fd9c3f, #feb24b, #e7632e, #571932) 1;
}

* {
    margin: 0;
    padding: 0;
    font-family: Palanquin, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    color: var(--font-primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Amaranth, serif;
    text-align: center;
}

.logoText, .runIn {
    font-family: Amaranth, serif;
}

.logo {
    display: flexbox;
    flex-direction: row;
}

h2, h3 {
    margin: 0em 1em;
    color: var(--font-secondary-color);
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.3em;
    margin-top: calc(var(--standard-padding)/2);
}

p {
    font-size: 1em;
}

p.subtitle {
    color: var(--font-secondary-color);
    text-transform: capitalize;
    text-align: center;
    margin-top: calc(var(--standard-padding)*-1);
    margin-bottom: var(--standard-padding);
}

hr {
    width: 100%;
    border: var(--border-lightfont);
    border-image: var(--border-image);
    mask-image: linear-gradient(to right, transparent, black, transparent);
    margin-bottom: 1em;
}

.foot {
    background-color: var(--background-secondary-dark-color);
    width: 100%;
}
/*basic card styling*/
.card, .textCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    padding: var(--standard-padding);
    background-color: var(--overlay-color);
    hyphens: auto;
    position: relative;
    border: var(--border-dark);
    border-image: var(--border-image);
    box-shadow: 0 0px 10px -3px var(--font-secondary-color);
    transition: box-shadow var(--standard-transition), border var(--standard-transition);
    gap: var(--standard-padding);
}


@keyframes bump {
    0% {transform: translateY(0%);}
    20% {transform: translateY(-20%);}
    40% {transform: translateY(0%);}
    60% {transform: translateY(-10%);}
    75% {transform: translateY(0%);}
    89% {transform: translateY(-5%);}
    100% {transform: translateY(0%);}
}

@keyframes smBump {
    0% {transform: translateY(0%);}
    20% {transform: translateY(-10%);}
    40% {transform: translateY(0%);}
    60% {transform: translateY(-5%);}
    75% {transform: translateY(0%);}
    89% {transform: translateY(-2%);}
    100% {transform: translateY(0%);}
}

.card img, .titleBodyContainer img {
    width: 100%;
    border-radius: 50%;
    display: block;
}

.card p {
    align-self: start;
}

.innerShadow img {
    width: 100%;
    border-radius: 50%;
    display: block;
}

.innerShadow {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

div.innerShadow::after {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    content: "";
    box-shadow: inset 0 0 10px 0px hsl(var(--shadow-hsl-color));
    border-radius: 50%;
    inset: 0;
    z-index: 2;
}

.cardContainer, .titleBodyContainer, .blurbContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer {
    gap: var(--standard-padding);
}

.priceContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    /* --phone-screen-width: 393px;
    --tabletv-screen-width: 768px; */
@media (min-width: 430px) { /*cell - tablet breakpoint */
    .card {
        width: 40%;
    }

    .cardContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }

    #images .cardContainer div { 
        width: 40%;
    }

    #pricing .cardContainer {
        flex-direction: column;
        width: 90%;
        justify-content: center;
        align-items: center;
        align-items: stretch;
        min-width: 0;
    }

    .price.card {
        flex-direction: row;
        width: calc(100% - var(--standard-padding)*2);
        align-items: center;
        column-gap: var(--standard-padding);
    }
    .price.card.flip {
        flex-direction: row-reverse;
    }

    .price.card .innerShadow {
        max-width: 45%;
        min-width: 0;
    }

    .priceContent {
        min-width: 0;
    }
}

@media (min-width: 850px) { /*tablet - desktop breakpoint */
    .card {
        width: 25%;
    }

    .cardContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        max-width: 1500px;
    }

    .about.textCard {
        margin: var(--standard-padding);
        max-width: 1000px;
    }

    #images .cardContainer div { 
        width: 30%;
    }

    #pricing .cardContainer {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-items: stretch;
        min-width: 0;
        max-width: 1500px;
    }

    .price.card, .price.card.flip {
        flex-direction: column;
        width: 25%;
        justify-content: flex-start;
    }

    .price.card .innerShadow {
        max-width: none;
        min-width: none;
    }

    .priceContent {
        min-width: none;
    }

    #images .cardContainer.gallery {
        padding: var(--standard-padding);
        max-width: 1000px;
    }

    .formContainer {
        max-width: 1000px;
    }
}

.blurbContainer {
    padding: calc(var(--standard-padding)*2);
}

.titleBodyContainer {
    padding: var(--standard-padding);
}

/*SPOTLIGHT STYLES*/
.button {
    border: 0px;
    border-radius: var(--border-radius);
    margin: 0px;
	padding: 0.5em 0.8em;
    text-decoration: none;
    background: var(--background-primary-dark-color);
    color: var(--font-primary-color);
	display: inline-block;
    text-shadow: 
            var(--font-spotlight-shadow-offset) 0 var(--font-spotlight-shadow-offset) var(--font-spotlight-shadow), 
            var(--font-spotlight-shadow-offset-neg) 0 var(--font-spotlight-shadow-offset) var(--font-spotlight-shadow), 
            0 var(--font-spotlight-shadow-offset) var(--font-spotlight-shadow-offset) var(--font-spotlight-shadow), 
            0 var(--font-spotlight-shadow-offset-neg) var(--font-spotlight-shadow-offset) var(--font-spotlight-shadow);
	font-size: 1.2em;
}

.button:hover {
    animation: bump 700ms ease-in;
}

.spotlight {
    background: var(--spotlightColor);
    color: var(--font-spotlight-color);
    font-weight: bold;
    text-transform: capitalize;
	font-style: normal;
    background-image: linear-gradient(-45deg, var(--spotlightColor) 40%, var(--spotlight-bright-Color), var(--spotlightColor) 60%);
    background-size: 500% 500%;
    background-position: right;
}

.spotlight:hover {
    animation: bgToRight 3s infinite;
}

.spotlight.button:hover {
    animation: bump 700ms ease-in, bgToRight 3s infinite;
}

@keyframes bgToRight {
    to {background-position: left;}
}

a img:hover {
    animation: smBump 700ms ease-in;
}

/*SPECIFIC SECTIONS*/
.about h3 {
    margin-top: 2em;
}

/* HERO SECTION */
.heroContent h1 {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

.heroContent p {
    color: var(--font-secondary-color);
}

div#hero {
    height: var(--hero-height);
    background-color: var(--overlay-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heroBackgroundDiv {
    position: absolute;
	z-index: -1;
    width: 100%;
	height: var(--hero-height);
    overflow: hidden;
}

.heroBackground {
    position: absolute;
    height: 130%;
	object-fit: cover;
    top: -25%;
}

.heroContent {
	text-align: center;
	box-shadow: var(--shadowBlured);
    padding: var(--standard-padding);
}

/*ABOUT SECTION */
#about {
    background: linear-gradient(var(--background-primary-color)0%, var(--spotlight-dark-Color) 20%, var(--spotlightColor)45%, var(--spotlightColor)60%, var(--background-primary-color)100%);
    background-attachment: fixed;

}

.about {
    flex-grow: 1;
}

/*CUSTOM/OUR TEAS SECTION*/
#custom {
    background-color: var(--background-primary-color);
}

.item:hover, .price.card:hover, a img:hover {
    border: var(--border-spotlight);
    border-image: var(--border-image);
    box-shadow: 0 0px 20px 0px var(--spotlightColor);
    /* transition: transform var(--standard-transition);
    transform: scale(1.05, 1.05); */
}



#custom h2 {
    font-size: 2.2em;
}

/*IMAGES/ACCESSORIES SECTION*/
#images {
    background-color: var(--background-secondary-color);
    overflow: hidden;
}

/*PRICING/SAMPLES SECTION*/
#pricing {
    background-color: var(--background-primary-color);
}

.priceContent .button {
    width: 50%;
    text-align: center;
    padding: 0.2em 0.8em;
    mask-image: linear-gradient(to right, transparent, black, transparent);
    margin-top: calc(var(--standard-padding)/2);
}

/*CONTACT SECTION*/
#contact {
    background-color: var(--background-secondary-color);
    box-sizing: border-box;
}

form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: calc(var(--standard-padding));
    width: 100%;
    padding: var(--standard-padding);
}

.formContainer {
    box-sizing: border-box;
    padding: calc(var(--standard-padding)*2);
    width: 100%
}

input, textarea {
    border: var(--border-spotlight);
    border-image: var(--border-image);
    border-radius: var(--border-radius);
    background-color: color-mix(in hsl, var(--spotlight-soft-color), #fff);
    padding: calc(var(--standard-padding)/4) calc(var(--standard-padding)/2);
}

input::placeholder, textarea::placeholder {
    color: var(--font-form-color);
    font-weight: bold;
    font-size: 1.2em;
}

textarea {
    height: 8.4em;
}

/*BUTTON BAR */
.turn80 {
    transform: rotate(80deg);
}

/*FOOTER*/
.foot {
    padding: var(--standard-padding);
    background-color: color-mix(in srgb, var(--spotlight-dark-Color) 35%, var(--background-primary-dark-color));
    width: calc(100%-2*var(--standard-padding));
}

/*DIVDERS*/
.divider {
    display: block;
    background-color: var(--background-primary-color);
    height: 10vh;
    width: 100%;
    overflow: hidden;
    margin: -1px 0;
}

.divider svg {
    width: 100%;
    height: 10vh;
}

.noBg {
    background-color: #00000000;
    margin: calc(var(--standard-padding)*2*-1);
    width: calc(var(--standard-padding)*4 + 100%);
    transform: translateY(1px);
    margin-top: var(--standard-padding);
}

path {
    fill: var(--background-secondary-color);
}

.noBg path {
    fill: var(--background-primary-color);
}