:root {
    --spotlightColor: #61ae37;
    --spotlight-dark-Color: #284916;
    --background-primary-color-hsl: 0, 0%, 20%;
    --background-primary-color: hsl(var(--background-primary-color-hsl), 100%);
    --background-primary-dark-color: #222;
    --background-secondary-color: #000;
    --background-secondary-dark-color: #000;
    --font-primary-color: #fff;
    --font-secondary-color: hsl(99, 20%, 73%);
    --font-spotlight-color: #fff;
    --font-spotlight-shadow-offset: 0.35em;
    --font-spotlight-shadow-offset-neg: -0.35em;
    --shadow-hsl-color: 0, 0%, 0%;
    --overlay-hsl-color: 0, 0%, 0%;
    --font-spotlight-shadow: hsl(var(--shadow-hsl-color), 20%);
    --overlay-color: hsl(var(--overlay-hsl-color), 65%);
    --hero-height: 100vh;
    --standard-padding: 1em;
    --standard-border-radius: 0.5em;
    --standard-transition: 1s
}
/*ALT THEMES*/
:root:has(#light-theme:checked) {
    --background-primary-color: hsl(99, 20%, 73%);
    --background-primary-dark-color: hsl(99, 20%, 53%);
    --background-secondary-color: #ffffff;
    --background-secondary-dark-color: hsl(99, 20%, 73%);
    --spotlight-dark-Color: #8ce75b;
    --spotlight-dark-Color-alt: #7aec3d;
    --font-primary-color: #000;
    --font-secondary-color: hsl(99, 20%, 73%);
    --overlay-hsl-color: 0, 0%, 100%;
    --overlay-color: hsl(var(--overlay-hsl-color), 40%);
}

* {
    margin: 0;
    padding: 0;
    font-family: Palanquin, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    color: var(--font-primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Amaranth, serif;
    text-align: center;
}

.logoText {
    font-family: Amaranth, serif;
}

.logo {
    display: flexbox;
    flex-direction: row;
}

h2, h3 {
    margin: 0em 1em 0.5em 1em;
    color: var(--font-secondary-color);
}


h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.3em;
}

p {
    font-size: 1em;
}

p.subtitle {
    color: var(--font-secondary-color);
    text-transform: capitalize;
    text-align: center;
}

hr {
    width: 100%;
    border: 1px solid var(--font-secondary-color);
    mask-image: linear-gradient(to right, transparent, black, transparent);
}

.foot {
    background-color: var(--background-secondary-dark-color);
    width: 100%;
}
/*basic card styling*/
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--standard-border-radius);
    padding: var(--standard-padding);
    background-color: var(--overlay-color);
    hyphens: auto;
    position: relative;
    border: 1px solid var(--font-secondary-color);
    box-shadow: 0 0px 10px -3px var(--font-secondary-color);
    transition: background-color var(--standard-transition), box-shadow var(--standard-transition);
}

.card img, .titleBodyContainer img {
    width: 100%;
    border-radius: 50%;
    display: block;
}

.card p {
    align-self: start;
}

.innerShadow img {
    width: 100%;
    border-radius: 50%;
    display: block;
}

/* #images img {
    width: calc(100% - 2*var(--standard-padding));
    margin: calc(var(--standard-padding));
} */

.innerShadow {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

div.innerShadow::after {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    content: "";
    box-shadow: inset 0 0 10px 0px hsl(var(--shadow-hsl-color));
    border-radius: 50%;
    inset: 0;
    z-index: 2;
}

.cardContainer, .titleBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer {
    gap: var(--standard-padding);
}

.titleBodyContainer {
    padding: var(--standard-padding);
}

/*SPOTLIGHT STYLES*/
.button {
    border: 0px;
    border-radius: var(--standard-border-radius);
    margin: 0px;
	padding: 0.45em 0.8em 0.55em 0.8em;
    text-decoration: none;
    background: var(--background-primary-dark-color);
    color: var(--font-primary-color);
	display: inline-block;
    text-shadow: 
            var(--font-spotlight-shadow-offset) 0 var(--font-spotlight-shadow-offset) var(--font-spotlight-shadow), 
            var(--font-spotlight-shadow-offset-neg) 0 var(--font-spotlight-shadow-offset) var(--font-spotlight-shadow), 
            0 var(--font-spotlight-shadow-offset) var(--font-spotlight-shadow-offset) var(--font-spotlight-shadow), 
            0 var(--font-spotlight-shadow-offset-neg) var(--font-spotlight-shadow-offset) var(--font-spotlight-shadow);
	font-size: 1.2em;
}

.spotlight {
    background: var(--spotlightColor);
    color: var(--font-spotlight-color);
    font-weight: bold;
    text-transform: capitalize;
	font-style: normal;
}

.spotlight:hover {
    background-image: linear-gradient(-45deg, var(--spotlight-dark-Color), var(--spotlightColor), var(--spotlight-dark-Color));
}

/*SPECIFIC SECTIONS*/
.about h3 {
    margin-top: 2em;
}

/* HERO SECTION */
.heroContent h1 {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

.heroContent p {
    color: var(--font-secondary-color);
}

div#hero {
    height: var(--hero-height);
    background-color: var(--overlay-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heroBackgroundDiv {
    position: absolute;
	z-index: -1;
    width: 100%;
	height: var(--hero-height);
    overflow: hidden;
}

.heroBackground {
    position: absolute;
    height: 130%;
	object-fit: cover;
    top: -25%;
}

.heroContent {
	text-align: center;
	box-shadow: var(--shadowBlured);
    padding: var(--standard-padding);
}

/*ABOUT SECTION */
#about {
    background: linear-gradient(var(--background-primary-color)0%, var(--spotlight-dark-Color) 20%, var(--spotlightColor)45%, var(--spotlightColor)60%, var(--background-primary-color)100%);
    background-attachment: fixed;
    padding: 0;
}

.about {
    flex-grow: 1;
}

/*CUSTOM/OUR TEAS SECTION*/
#custom {
    background-color: var(--background-primary-color);
}

 .item:hover {
    border: 1px solid var(--spotlightColor);
    background-color: color-mix(in srgb, var(--background-secondary-color) 65%, var(--spotlight-dark-Color) 35%);
    box-shadow: 0 0px 15px 0px var(--spotlightColor);
}


#custom h2 {
    font-size: 2.2em;
}

/*IMAGES/ACCESSORIES SECTION*/
#images {
    background-color: var(--background-secondary-color);
    overflow: hidden;
}

/*PRICING/SAMPLES SECTION*/
#pricing {
    background-color: var(--background-primary-color);
}

/*CONTACT SECTION*/
#contact {
    background-color: var(--background-secondary-color);
}

/*BUTTON BAR */
.float {
    display: flex;
    justify-content: space-between;
}

.turn80 {
    transform: rotate(80deg);
}

/*???*/
.priceCard {
    width: 25%;
}