:root {
    --spotlightColor: #62af38;
    --spotlight-dark-Color: #284916;
    --background-primary-color: #000000;
    --background-secondary-color: #333;
    --background-secondary-dark-color: #222;
    --font-primary-color: #fff;
    --font-secondary-color: #fff;
    --font-spotlight-color: #fff;
    --font-spotlight-shadow-offset: 0.35em;
    --font-spotlight-shadow-offset-neg: -0.35em;
    --font-spotlight-shadow: #00000030;
    --overlay-color: #000000A0;
    --hero-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: Palanquin, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    color: var(--font-primary-color)
}

h1, h2, h3, h4, h5, h6 {
    font-family: Amaranth, serif;
    text-align: center;
}

.logoText {
    font-family: Amaranth, serif;
}

.logo {
    display: flexbox;
    flex-direction: row;
}

h2, h3 {
    margin: 0em 1em 0.5em 1em;
}

p {
    font-size: 1em;
}

.heroContent h1 {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

.about h3 {
    margin-top: 2em;
}

/* HERO SECTION */
div#hero {
    height: var(--hero-height);
    background-color: var(--overlay-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heroBackgroundDiv {
    position: absolute;
	z-index: -1;
    width: 100%;
	height: var(--hero-height);
    overflow: hidden;
}

.heroBackground {
    position: absolute;
    height: 130%;
	object-fit: cover;
    top: -25%;
}

.heroContent {
/*    height: var(--hero-height);*/
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;
/*	background-color: #ffffff50; */
	border-radius: 8px;
	padding: 2px;
	box-shadow: var(--shadowBlured);
    padding: 2%;
}

/*ABOUT SECTION */
#about {
    background: linear-gradient(var(--spotlight-dark-Color) 0%, var(--spotlightColor)25%, var(--spotlightColor)40%, var(--background-primary-color)100%);
    display: flex;
    align-items: center;
    padding: 2em;
}

.about {
    background-color: var(--background-secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

/*OTHER SECTIONS*/
#custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 3em;
}

.teaListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--background-secondary-dark-color);
    border-radius: 8px;
    padding: 1.5em;
    margin: 1em;
    background-color: var(--overlay-color);
    text-align: justify;
    text-justify: inter-character;
    hyphens: auto;

/*      text-justify: inter-word;
    word-spacing: -0.5px; */
    
}

.card img {
    width: 100%;
    border-radius: 50%;
    display: block;
}

.innerShadow img {
    width: 100%;
    border-radius: 50%;
    display: block;
}

.innerShadow {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

div.innerShadow::after {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    content: "";
    box-shadow: inset 0 0 10px 0px black;
    border-radius: 50%;
    inset: 0;
    z-index: 2;
}

.priceCard {
    width: 25%;
}
